[submodule "src/utils/synthwiki"]
    path = src/utils/synthwiki
    url = https://github.com/adamlerer/synthwiki.git

[submodule "src/utils/zero_scrolls"]
    path = src/utils/zero_scrolls
    url = https://github.com/tau-nlp/zero_scrolls.git

# [submodule "src/utils/PositionalHidden"]
#     path = src/utils/PositionalHidden
#     url = https://github.com/PositionalHidden/PositionalHidden.git

[submodule "src/utils/LongQLoRA"]
    path = src/utils/LongQLoRA
    url = https://github.com/yangjianxin1/LongQLoRA.git